{% extends 'items/base.html' %}
{% load item_directory_filter %}
{% load truncate_name_filter %}
{% load pagination_tags %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-start">
    <a class="btn btn-sm {% if tile_view == 'True' %}btn-dark{% else %}btn-outline-dark{% endif %}" href="{{ request.path}}?category={{ category }}&subcategory={{ subcategory }}&tile_view=True">Галерея</a>
    <a class="btn btn-sm {% if tile_view == 'True' %}btn-outline-dark {% else %}btn-dark {% endif %}mx-3" href="{{ request.path }}?category={{ category }}&subcategory={{ subcategory }}&tile_view=False">Список</a>
</div>

{% if tile_view == 'True' %}
    <div class="d-flex justify-content-center">
        {% include 'items/accordion.html' %}
        <div class="items" style="margin-left: 55px;">
            <div class="d-flex flex-column" style="width: 600px;">
                <div class="row row-cols-2 row-cols-md-2">
                    {% for item in page_obj %}
                        <div class="card px-0 m-2" style="width: 18rem;">
                            {% if item.status == 'A' %}
                                <div class="card-header text-success">Есть в наличии</div>
                            {% endif %}
                            {% if item.status == 'P' %}
                                <div class="card-header text-secondary">Ожидается</div>
                            {% endif %}
                            {% if item.status == 'N' %}
                                <div class="card-header text-danger">Нет в наличии</div>
                            {% endif %}
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'item' company item.article %}">
                                    <img src="{{ item.image.url }}" style="width: 150px; padding: 10px;" alt="">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ item.get_absolute_url }}" class="text-decoration-none text-black">{{ item.name|truncate_name }}</a></h5>
                                <p class="card-text">
                                    Артикул: {{ item.article }}
                                    {{ item.description}}
                                </p>
                                <h5 class="price">{{ item.get_cool_price }}</h5>
                                    {% comment %}<a tabindex="0" href="{% url 'add-to-cart' item.slug %}" class="btn btn-success" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Добавление товара" data-bs-content="Чтобы посмотреть все добавленные товары, кликните на иконку корзины вверху">Добавить</a>{% endcomment %}
                                <form action="" method="POST" id="post-form-{{ item.article }}">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center">
                                        <a style="margin-right: 5px;" id="decrement_{{ item.article }}"><i class="fas fa-minus text-black"></i></a>
                                        {% comment %}{{ h_form }}{% endcomment %}
                                        <input type="text" value="1" id="counter_{{ item.article }}" name="counter" class="text-center" style="width: 40px;">
                                        <a style="margin-left: 5px; margin-right: 10px;" id="increment_{{ item.article }}"><i class="fas fa-plus text-black"></i></a>
                                        <div id="slug_{{ item.article }}" style="display: none;">{{ item.slug }}</div>
                                        <button type="submit" class="btn btn-success">Добавить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination mt-5 d-flex align-items-center">
                    {% if page_obj.has_previous %}
                        {% if page_obj|more_than_one_from_start %}
                            <a style="text-decoration: none; color: black;" href="{% url 'categories' company%}?category={{ category }}&subcategory={{ subcategory }}&page=1"><i class="fas fa-2x fa-backward"></i></a>
                        {% endif %}
                        <a style="text-decoration: none; color: black;" href="{% url 'categories' company%}?category={{ category }}&subcategory={{ subcategory }}&page={{ page_obj.previous_page_number }}"><i class="fas fa-3x fa-caret-left mx-3"></i></a>
                    {% endif %}

                    <span style="font-size: 20px;" class="current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a style="text-decoration: none; color: black;" href="{% url 'categories' company%}?category={{ category }}&subcategory={{ subcategory }}&page={{ page_obj.next_page_number }}"><i class="fas fa-3x fa-caret-right mx-3"></i></a>
                        {% if page_obj|more_than_one_left %}
                            <a style="text-decoration: none; color: black;" href="{% url 'categories' company%}?category={{ category }}&subcategory={{ subcategory }}&page={{ page_obj.paginator.num_pages }}"><i class="fas fa-2x fa-forward"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% else %}
    <div class="d-flex">
        {% include 'items/accordion.html' %}
        <div class="d-flex flex-column mx-3">
            {% for item in items %}
                <div class="d-flex align-items-center my-2">
                    <div class="d-flex align-items-center invisible">
                        <a id="listview-remove"><i class="fas fa-times text-danger mx-3"></i></a>
                        <input type="text" value="1" id="listview_counter_{{ item.article }}" name="listview_counter" class="text-center" style="width: 40px; height: 25px;">
                    </div>

                    <a id="listview-plus"><i class="fas fa-plus text-black mx-3"></i></a>
                    <a class="text-decoration-none text-black" href="{{ item.get_absolute_url }}">{% if add_company == True %}{{ company }}{% endif %}{{ item.name }} арт.{{ item.article }} - {{ item.get_cool_price }}</a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endif %}
<script>
    {% if tile_view == 'True' %}
        console.log("Tile view!!!");
        var allCountersList = [].slice.call(document.querySelectorAll('input[name=counter]'));
        var countersList = allCountersList.map((counter) => {
            var id = counter.getAttribute("id");
            id = id.slice(8);
            var slug = $("#slug_" + id).text();
            $('#post-form-' + id).on('submit', function(event) {
                event.preventDefault();
                add_to_cart();
            });
            function add_to_cart(){
                $.ajax({
                    url: '/ajax-add-to-cart/' + slug + '/',
                    type: 'POST',
                    data: { counter : $("#counter_" + id).val()},

                    success : function(json) {
                        $("#counter_" + id).val('1');
                        {% comment %}$("#cart-count").text(json['count']).removeClass("bg-dark").addClass("bg-danger");{% endcomment %}
                        get_order_items();
                        console.log("Success");

                    },
                    error : function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
            $(function() {
                // This function gets cookie with a given name
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                /*
                The functions below will create a header with csrftoken
                */

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function sameOrigin(url) {
                    // test that a given url is a same-origin URL
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            });



            var decrementButton = document.querySelector("a[id=decrement_" + id + "]");
            var incrementButton = document.querySelector("a[id=increment_" + id + "]");
            decrementButton.addEventListener("click", function() {
                if (counter.value > 1){
                    counter.value = parseInt(counter.value) - 1;
                }
            });
            incrementButton.addEventListener("click", function() {
                counter.value = parseInt(counter.value) + 1;
            })
        });
    {% else %}
        var allListViewCountersList = [].slice.call(document.querySelectorAll('input[name=listview_counter]'));
        var listViewCountersList = allListViewCountersList.map((counter) => {
            var id = counter.getAttribute("id");
            id = id.slice(17);
        });
    {% endif %}
</script>
{% endblock %}