{% extends 'items/base.html' %}
{% load static %}
{% block items %}
<div class="d-flex items-container">
    {% include 'items/accordion.html' %}
    <div class="items" style="margin-left: 10px;">
        <div class="row row-cols-2 row-cols-md-2 g-4">
            <div style="max-width: 520px;">
                <div class="card">
                    <div class="card-header text-danger">Нет в наличии</div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'landing/images/temp/boiler.jpg' %}" style="width:120px; height: 100%; padding: 10px;" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Название оборудования</h5>
                              <p class="card-text">Краткая информация или описание.</p>
                              <h5 class="price">61 000 руб.</h5>
                              <a href="#" class="btn btn-primary">Заказать товар</a>
                            </div>
                        </div>
                    </div>

                </div>
              </div>
            <div style="max-width: 520px;">
                <div class="card">
                    <div class="card-header text-success">Есть в наличии</div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'landing/images/temp/boiler.jpg' %}" style="width:120px; height: 100%; padding: 10px;" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Название оборудования</h5>
                              <p class="card-text">Краткая информация или описание. А что если описание не совсем краткое?</p>
                              <h5 class="price">61 000 руб.</h5>
                              <a href="#" class="btn btn-primary">Заказать товар</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div style="max-width: 520px;">
                <div class="card">
                    <div class="card-header text-secondary">Ожидается</div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'landing/images/temp/boiler.jpg' %}" style="width:120px; height: 100%; padding: 10px;" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Название оборудования</h5>
                              <p class="card-text">Краткая информация или описание.</p>
                              <h5 class="price">61 000 руб.</h5>
                              <a href="#" class="btn btn-primary">Заказать товар</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>


{% endblock %}