{% extends 'landing/base.html' %}
{% load truncate_name_filter %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'landing/css/item.css' %}">
<div class="d-flex flex-column">
    <div id="item-div">
        <div id="item-image-div">
            <img id="item-image" src="{{ item.image.url }}" alt="{{ item.article }}">
        </div>
        <span id="item-name">{{ item.name }} арт.{{ item.article }}</span>
        {% comment %}<span style="color: grey; font-size: 20px;">Артикул: {{ item.article }}</span>{% endcomment %}
        <div id="item-price">
            <span id="item-price-span">{{ item.get_cool_price }}</span>
            <label for="item-price-span" style="color: grey;">цена за штуку</label>
        </div>
        {% if item.weight > 0 %}<span id="item-weight">Вес: {{ item.weight }} кг</span>{% endif %}
        <div class="d-flex align-items-center mt-3" id="item-add">
            <form action="{% url 'add-to-cart' item.slug %}" method="POST">
                {% csrf_token %}
                <a style="margin-right: 5px; user-select: none;" id="decrement"><i class="fas fa-minus text-black"></i></a>
                {{ h_form }}
                <a style="margin-left: 5px; user-select: none;" id="increment"><i class="fas fa-plus text-black"></i></a>
                <button type="submit" class="btn btn-success">Добавить в корзину</button>
            </form>

        </div>
        {% if welcome %}
        <div class="d-flex flex-column" id="item-manu-div">
            <span id="item-manu">Производитель: {{ company.name }}</span>
            <img id="item-manu-image" src="{{ company.image.url }}" alt="{{ company.name }}">
        </div>

        {% endif %}
    </div>
    {% if related_items %}
    <hr>
    <span id="similar-items">Похожие товары</span>
    <hr>
    <div class="d-flex flex-column align-items-left" id="related-items-div">
        <table class="table">
            <tbody>
                {% for related_item in related_items %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>
                            <a style="font-size: 18px; text-decoration: none; color: black;" href="{{ related_item.get_absolute_url }}">{{ related_item.name }} арт.{{ related_item.article }}</a>
                        </td>
                        <td style="width: 120px;">
                            <span style="font-size: 18px;">{{ related_item.get_cool_price }}</span>
                        </td>
                        {% comment %}<td><a class="btn btn-success">Добавить</a></td>{% endcomment %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<script>
    var decrementButton = document.querySelector("a[id=decrement]");
    var incrementButton = document.querySelector("a[id=increment]");
    var counter = document.querySelector("input[id=counter]");
    decrementButton.addEventListener("click", function() {
        if (counter.value > 1){
            counter.value = parseInt(counter.value) - 1;
        }
    });
    incrementButton.addEventListener("click", function() {
        counter.value = parseInt(counter.value) + 1;
    })
</script>
{% endblock %}