{% extends 'landing/base.html' %}
{% load truncate_name_filter %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="container d-flex justify-content-center align-items-start">
        <div class="d-flex flex-column">
            <img src="{{ item.image.url }}" alt="{{ item.article }}" style="max-width: 500px; margin-top: 20px;">
        </div>
        <div class="d-flex flex-column align-items-start m-4 col-3">
            <h5>{{ item.name }} арт.{{ item.article }}</h5>
            {% comment %}<span style="color: grey; font-size: 20px;">Артикул: {{ item.article }}</span>{% endcomment %}
            <h5 id="price">{{ item.get_cool_price }}</h5>
            <label for="price" style="color: grey;">цена за штуку</label>
            {% if item.weight > 0 %}<h3>Вес: {{ item.weight }} кг</h3>{% endif %}
            <div class="d-flex align-items-center mt-3">
                <form action="{% url 'add-to-cart' item.slug %}" method="POST">
                    {% csrf_token %}
                    <a style="margin-right: 5px;" id="decrement"><i class="fas fa-minus text-black"></i></a>
                    {{ h_form }}
                    <a style="margin-left: 5px; margin-right: 10px;" id="increment"><i class="fas fa-plus text-black"></i></a>
                    <button type="submit" class="btn btn-success">Добавить в корзину</button>
                </form>

            </div>
            {% if welcome %}
            <h5 class="mt-5">Производитель: {{ company.name }}</h5>
            <img src="{{ company.image.url }}" alt="{{ company.name }}" style="max-width: 200px;">
            {% endif %}
        </div>
    </div>
    {% if related_items %}
    <hr width="700px">
    <h3>Похожие товары</h3>
    <hr width="700px">
    <div class="d-flex flex-column align-items-left" style="width: 700px;">
        <table class="table">
            <tbody>
                {% for related_item in related_items %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>
                            <a style="font-size: 18px; text-decoration: none; color: black;" href="{{ related_item.get_absolute_url }}">{{ related_item.name }} арт.{{ related_item.article }}</a>
                        </td>
                        <td>
                            <span style="font-size: 18px;"><b>{{ related_item.get_cool_price }}</b></span>
                        </td>
                        {% comment %}<td><a class="btn btn-success">Добавить</a></td>{% endcomment %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<script>
    var decrementButton = document.querySelector("a[id=decrement]");
    var incrementButton = document.querySelector("a[id=increment]");
    var counter = document.querySelector("input[id=counter]");
    decrementButton.addEventListener("click", function() {
        if (counter.value > 0){
            counter.value = parseInt(counter.value) - 1;
        }
    });
    incrementButton.addEventListener("click", function() {
        counter.value = parseInt(counter.value) + 1;
    })
</script>
{% endblock %}