#categories-div {
    width: 90%;
    margin: 10px auto;
}
#categories-items {
    display: flex;
    flex-direction: column;
    width: auto;
}
#listview-div {
    width: auto;
    margin: 0;
    font-size: 0.7rem;
}