main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*Desktop footer*/
footer {
    display: flex;
    padding: 10px;
    margin-top: auto;
    background-color: #212529;
    color: white;
}
#footer-div {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10rem 10rem 8rem 9rem 13rem;
    grid-template-areas: "footer-email footer-phone-and-time footer-address footer-info-div footer-disclaimer";
}
/*Desktop footer*/
/*Mobile footer*/

footer.mobile #footer-div {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "footer-email footer-info-div"
    "footer-phone-and-time footer-disclaimer"
    "footer-address footer-disclaimer";
}

/*Mobile footer*/

#footer-email {
    grid-area: footer-email;
}
#footer-phone-and-time {
    grid-area: footer-phone-and-time;
    display: flex;
    flex-direction: column;
}
#footer-address {
    grid-area: footer-address;
}
#footer-info-div {
    grid-area: footer-info-div;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
#footer-disclaimer {
    grid-area: footer-disclaimer;
    text-align: justify;
}
