.grid-wrapper {
    display: grid;
    max-width: 1000px;
    /*max-width: 800px;*/
    grid-template-rows: repeat(3, 37px);
    grid-template-columns: repeat(2, 2fr) repeat(2, 1.4fr);
    grid-template-areas:
        "logo search search phones"
        "logo times times phones"
        "logo catalog about contacts";
}
.grid-wrapper > * {
    /*border: 3px dotted red;*/
    /*align-self: end;*/

}
#logo {
    grid-area: logo;
    margin-right: 10px;
    height: 115px;
    border: 2px dotted cyan;
}
#logo-image {
    width: 230px;
}
#search {
    grid-area: search;
    height: 30px;
    border: 2px dotted cyan;
}
#catalog{
    grid-area: catalog;
    height: 30px;
    border: 2px dotted cyan;
}
#about {
    grid-area: about;
    height: 30px;
    border: 2px dotted cyan;
}
#contacts {
    grid-area: contacts;
    height: 30px;
    border: 2px dotted cyan;
}
#phone-1 {
    grid-area: phone-2;
    text-align: right;
    border: 2px dotted cyan;
}
#phone-2 {
    grid-area: phone-2;
    text-align: right;
    border: 2px dotted cyan;
}
#email {
    grid-area: email;
    border: 2px dotted cyan;
}
#times {
    grid-area: times;
    justify-self: end;
    border: 2px dotted cyan;
    font-size: 15px;
}
.header-div {
    width: 75%;
    margin: 10px auto;
}
.grid-wrapper.mobile{
    border: 2px dotted red;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "logo logo logo logo logo email email email"
        "logo logo logo logo logo phone-1 phone-1 phone-1"
        "logo logo logo logo logo phone-2 phone-2 phone-2"
        "logo logo logo logo logo times times times"
        "search search search search search search search search"
        "catalog catalog catalog catalog about about contacts contacts";
}
#logo.mobile {
    margin-right: 0;
    /*grid-column: 1 / span 5;*/
    /*grid-row: 1 / span 4;*/
}
#logo-image.mobile {
    margin-right: 0;
}
.header-div.mobile {
    width: 100%;
    margin: 10px 10px;
}
#email.mobile {

}
#phone-1.mobile {

}
#phone-2.mobile {

}
#times.mobile {

}
#search.mobile {

}
#catalog.mobile {

}
#about.mobile {

}
#contacts.mobile {

}