/*Desktop header*/
/*@media (min-width: 1080px){*/
    html{
        font-size: 1.4vw;
    }
    .screen{
        margin: 10px auto;
        width: 60%;
    }
    .my-container {
        display: grid;
        grid-template-rows: repeat(3, 1.5rem) 2rem;
        grid-template-columns: repeat(2, 1.5fr) repeat(2, 1fr);
        grid-template-areas:
            "logo search search email"
            "logo search search phone-1"
            "logo . times phone-2"
            "logo catalog about contacts"
    }
    #logo {
        grid-area: logo;
        justify-self: end;
        margin-right: 10px;
    }
    #logo-img {
        grid-area: logo-img;
        width: 13rem;
    }
    #catalog{
        grid-area: catalog;
    }
    #catalog button{
        width: 100%;
        height: 100%;

        border: 1px solid grey;
    }
    #search {
        grid-area: search;
        align-self: center;
    }
    #search input{
    }
    #about {
        grid-area: about;
        border: 1px solid grey;
        height: 100%;

    }
    #contacts {
        grid-area: contacts;
        border: 1px solid grey;
        height: 100%;

    }
    #phone-1 {
        grid-area: phone-1;
        justify-self: end;
    }
    #phone-2 {
        grid-area: phone-2;
        justify-self: end;
    }
    #email {
        grid-area: email;
        justify-self: end;
        font-size: 0.8rem;
        align-self: end;
    }
    #times {
        grid-area: times;
        justify-self: end;
        font-size: 0.8rem;
    }
/*}*/
/*Desktop header*/

/*Mobile header*/
/*@media (max-width: 1080px){*/
    html.mobile{
        font-size: 4.5vw;
    }
    .screen.mobile{
        margin: 0 10px;
        padding: 10px;
        width: auto;
    }
    .screen.mobile .my-container {
        display: grid;
        grid-template-rows: repeat(4, 1.5rem) 2rem 2rem;
        row-gap: 3px;
        grid-template-areas:
            "logo logo email email"
            "logo logo phone-1 phone-1"
            "logo logo phone-2 phone-2"
            "logo logo times times"
            "search search search search"
            "catalog catalog about contacts";
    }
    .screen.mobile #logo {
        grid-area: logo;
        align-self: end;
    }
    .screen.mobile #logo-img {
        grid-area: logo-img;
        width: 11rem;
    }
    .screen.mobile #catalog{
        grid-area: catalog;
    }
    .screen.mobile #catalog button{
        width: 100%;
        border: 1px solid grey;
        height: 2rem;
    }
    .screen.mobile #search {
        grid-area: search;
    }
    .screen.mobile #search input{
    }
    .screen.mobile #about {
        grid-area: about;
        border: 1px solid grey;
        height: 2rem;
    }
    .screen.mobile #contacts {
        grid-area: contacts;
        border: 1px solid grey;
        height: 2rem;
    }
    .screen.mobile #phone-1 {
        grid-area: phone-1;
        justify-self: end;

    }
    .screen.mobile #phone-2 {
        grid-area: phone-2;
        justify-self: end;

    }
    .screen.mobile #email {
        grid-area: email;
        justify-self: end;
        font-size: 0.8rem;
        align-self: end;
    }
    .screen.mobile #times {
        grid-area: times;
        justify-self: end;
        font-size: 0.8rem;
    }
/*}*/
/*Mobile header*/
