
main {
    margin: 40px;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#side-menu {
    background: transparent;
    color: white;
    border: none !important;
}
@media (max-width: 992px){
    .navbar {
        display: none !important;
    }

}
@media (min-width: 993px){
    #side-menu {
        display: none !important;
    }
}

.items-sidebar {
    width: 25%;
    margin-right: 30px;
}
.items {
    width: 100%;
}
.nav-icon {
    opacity: 0.5;
    transition: opacity 150ms linear;
}
.nav-icon:hover{
    opacity: 0.75;
}
.nav-icon.active {
    opacity: 1;
}
.nav-link.active {
    font-size: 17px;
}

.alert.alert-error {
    background-color: #f8d7da;
}

#top-navbar {
    height: 0;
    position: sticky;
    top: 0;
    visibility: hidden;
    transition: visibility 150ms linear, height 150ms linear;
    z-index: 150;
}
#top-navbar.active {
    height: 60px;
    visibility: visible;
}