html {
    height: 100%;
}
#side-menu {
    background: transparent;
    color: white;
    border: none !important;
}
@media (max-width: 992px){
    .navbar {
        display: none !important;
    }

}
@media (min-width: 993px){
    #side-menu {
        display: none !important;
    }
}
.items-container {
    margin: 40px 0 0 30px;
}
.items-sidebar {
    width: 25%;
    margin-right: 30px;
}
.items {
    width: 100%;
}
.fa-home {
    opacity: 0.5;
    transition: opacity 150ms linear;
}
.fa-home:hover{
    opacity: 0.75;
}
.fa-home.active {
    opacity: 1;
}