/* ==========================================================================
   normalize
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 20px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


html, button, input, select, textarea {color: #B3B3B3;}
body {font-family: sans-serif,Arial,Verdana,Tahoma; font-size: 11px; line-height: 1.6; background: #0D0D0D;}
::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 10px 0; padding: 0;}
img {vertical-align: middle;}
fieldset {border: 0; margin: 0; padding: 0;}
h1, h2, h3, h4, h5, p.nazvanie {color: #E7CF5C;}
table td, table th {padding: 2px;}
a {color: #B3B3B3}
a:hover {color: #DFC767; text-decoration: none;}
textarea {resize: vertical;}
.pod {
width: 50%;
border:solid 1px #666;
font:12px Verdana;color: #88B98F;
background-color:#666;
float: left;
}


.content ul, ul.catalog {list-style: none;}
.content li:before, ul.catalog li:before {content: "\25b8"; margin-left: -5px; position: relative; left: -15px; color: #FEC500;}
.chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {width: 960px; padding: 0 20px; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/bg.jpg') no-repeat center top; margin: 0 auto; min-height: 650px;  height: auto !important; height: 650px;}

header {height: 239px; position: relative;}
.banner {position: absolute; width: 150px;top: 10px;left: 0px;}
.phones, .adres {position: absolute; background: #161616; padding: 15px 20px;  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px}
.phones {top: 10px; left: 350px; width:180px; text-align: right;}
.tel {padding-bottom: 5px; border-bottom: 1px dotted #3D3D3D; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/phone.gif') no-repeat 0 0;}
.tel span.yellow {color: #FEC500; margin-right: 35px;}
.fax {padding-top: 5px; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/fax.gif') no-repeat 0 5px;}
.mail {padding: 0 0 5px 30px; border-bottom: 1px dotted #3D3D3D; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/mail.gif') no-repeat 0 0;}
.mail span {color: #FEC500; margin-right: 20px;}
.adres address {padding: 5px 0 0 30px; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/adress.gif') no-repeat 0 5px;}
.yellow {color: #FEC500; float: left; padding-left: 20px}

.adres {top: 10px; left: 610px; width: 290px;}


nav, .feedback input[type=submit] {
	background: #343434;
	background: -moz-linear-gradient(top,  #343434 0%, #0b0b0b 50%, #151515 50%, #0b0b0b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(50%,#0b0b0b), color-stop(50%,#151515), color-stop(100%,#0b0b0b));
	background: -webkit-linear-gradient(top,  #343434 0%,#0b0b0b 50%,#151515 50%,#0b0b0b 100%);
	background: -o-linear-gradient(top,  #343434 0%,#0b0b0b 50%,#151515 50%,#0b0b0b 100%);
	background: -ms-linear-gradient(top,  #343434 0%,#0b0b0b 50%,#151515 50%,#0b0b0b 100%);
	background: linear-gradient(to bottom,  #343434 0%,#0b0b0b 50%,#151515 50%,#0b0b0b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#0b0b0b',GradientType=0 );
}
nav {padding: 10px;}
nav a {float: left; display: block; padding: 19px 12px; border-right: 1px solid #000; border-left: 1px solid #2b2b2b; text-decoration: none;}
nav span, nav a:hover, nav a.active {color: #FEC500}
nav a:first-child {border-left: none;}
nav a:last-child {border-right: none;}
a.glavnaya {background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/home.gif') no-repeat center top; display: block; padding: 0; margin-top: 16px;}
a.glavnaya:hover {background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/home.gif') no-repeat center bottom;}
a.glavnaya, a.glavnaya img, a.glavnaya:hover {width: 40px; height: 20px;}
.clearfix1 {position: absolute; width:940px;top: 150px;left: 0px;}

.content, .sidebar {float: right; padding-bottom: 20px;}
.content a {color: #FEC500}
.content a:hover {color: #B3B3B3;}

.content {width: 660px; padding-left: 60px; text-align: justify;}
.abzac, .feedback {border-left: 1px dotted #3D3D3D; border-right: 1px dotted #3D3D3D; margin: 0 18px 20px 0; padding: 1em 20px;}

.crumbs {font-size: 12px; color: #E7CF5C; width: 600px; border: solid 0px; height:64px;}

.news, .trademark, div.catalog {padding: 15px 20px; background: #2B2B2B; text-align: left;}
.news div, .item {display: inline-block; width: 287px; border-bottom: 1px dashed #5E5E5C; border-right: 1px dashed #5E5E5C; padding: 10px; vertical-align: top; min-height: 88px;}
.news div:nth-child(even), .item:nth-child(even) {border-right: 1px dashed #2B2B2B;}
.news div:nth-last-child(1), .item:nth-last-child(1) {border-bottom: none;}
.news div:nth-last-child(2), .item:nth-last-child(2) {border-bottom: none;}

.trademark ul {list-style: none; padding: 0 0 0 20px;}
.trademark li {padding: 5px 0 5px 0px;float: left; width: 193px;}
.trademark a, div.catalog a {color: #B3B3B3;}
.trademark a:hover, div.catalog a:hover {color: #E7CF5C;}

.item {line-height: 15px;}

.desc {border-left: 1px dashed #5E5E5C; margin-left: 320px; padding-left: 20px; min-height: 220px; line-height: 22px;}
div.catalog table {width: 100%;}
div.catalog table tr.head td {background-color: #78A6D0;}
div.catalog table td {border: 1px solid #2B2B2B; color: #FFFFFF; text-align: center;}

.flag {height: 24px; vertical-align: center;}
.flag img {margin-right: 10px;}

.sidebar {width: 240px;}
p.nazvanie {font-weight: bold; font-size: 18px;}
ul.catalog {font-size: 13px; padding: 10px 5px 10px 0px; background-color: rgba(0, 0, 0, 0.3); margin: 0;}
ul.catalog li {margin: 10px 10px 5px 25px; }

ul.catalog li.razdel1:before {content: "";}
ul.catalog li.razdel1 {display:inline-block;color:#FFFFFF;background-color:#BA55D3;text-align:center;padding:3px;margin:0px;width:100%;}
ul.catalog li.razdel1 a {color:#000000;font-size: 13px;font-weight: bold;}
ul.catalog a:hover {text-decoration:underline;}

a.current {text-decoration: none}
ul.catalog li:nth-child(1):before {color: #5a99c2}
ul.catalog li:nth-child(2):before {color: #4f85c5}
ul.catalog li:nth-child(3):before {color: #3b67c6}
ul.catalog li:nth-child(4):before {color: #2e4dc1}
ul.catalog li:nth-child(5):before {color: #3434d0}
ul.catalog li:nth-child(6):before {color: #562fc8}
ul.catalog li:nth-child(7):before {color: #7130c8}
ul.catalog li:nth-child(8):before {color: #9b20c8}
ul.catalog li:nth-child(9):before {color: #bd139a}
ul.catalog li:nth-child(10):before {color: #ba0a4b}
ul.catalog li:nth-child(11):before {color: #d00e31}
ul.catalog li:nth-child(12):before {color: #dd1901}
ul.catalog li:nth-child(13):before {color: #da340e}
ul.catalog li:nth-child(14):before {color: #e25416}
ul.catalog li:nth-child(15):before {color: #e1711f}
ul.catalog li:nth-child(16):before {color: #e18f21}
ul.catalog li:nth-child(17):before {color: #e8ac2a}
ul.catalog li:nth-child(18):before {color: #f3c031}
ul.catalog li:nth-child(19):before {color: #aed031}
ul.catalog li:nth-child(20):before {color: #7bc733}
ul.catalog li:nth-child(21):before {color: #68b95c}
ul.catalog li:nth-child(22):before {color: #61ad89}
ul.catalog li:nth-child(23):before {color: #61a3bb}
ul.catalog li:nth-child(24):before {color: #5a9ac0}
ul.catalog li:nth-child(25):before {color: #4b8abd}

footer {height: 67px; padding: 15px 20px; background: #000; font-size:0; color: #999;}
footer a {color: #999;}
footer a:hover, a.current {color: #DFC767;}
footer div {display: inline-block;padding:0px 10px;margin:0 auto;}
footer span {display: table-cell; height: 57px; vertical-align: middle; font-size:11px;}
.copyright {color: #DFC767; border-right: 1px solid #0e0e0e;}
.footer-phone {border-right: 1px solid #0e0e0e; text-align: center; background: url('/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/phone1.gif') no-repeat 15px 20px;padding-left:40px;}
.footer-mail {border-right: 1px solid #0e0e0e;}
.footer-adres {}


.parent {width: 100%;}
.parent span {padding: 5px 0; width: auto; display: table;}
* html .parent span {display: inline-block;}
*:first-child+html .parent span {display: inline-block;} 
.parent a, .parent b {float: left; margin-right: 4px; width: 21px; height: 19px; overflow: hidden; text-align: center; color: #0e0e0e; font-weight: bold;  padding-top: 2px; display: inline; border: 1px solid #B3B3B3; text-decoration: none;}
.parent a:hover {border: 1px solid #DFC767;}
* html .parent a, * html .parent b {height: 21px;}
.parent b {background:#B3B3B3; cursor: default;}

table.spisok td {padding: 10px;}
table.spisok a, .nomera strong {color: #FEC500}

/* ==========================================================================
   Slider
   ========================================================================== */
.slider, .slider ul {display: block; position:relative; list-style: none; overflow: hidden; padding: 0; margin: 0; width:960px; height:400px;}
.slider ul li {display: inline-block; float: left; width: 160px;}
.slider ul li a {display:block; text-decoration: none; background:#fff; border-right: 1px solid #fff; border-left: 1px solid #fff; cursor:pointer; height: 400px; padding: 0 !important; width: 100%;}
.slider ul li span {display: none; position: absolute; top: 330px; left: 2px;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
        color: #fff;
        font-size: 15px;
	text-align: left;
        padding: 10px 20px;
	white-space: nowrap;
        width: 100%;
}
/* ==========================================================================
   Feedback
   ========================================================================== */
.feedback form {width: 350px; text-align: left; }
.feedback input[type=text], .feedback select, .feedback textarea {border: 1px solid #000; background: #515151; width: 342px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 0 1px 5px 0px;
}
.feedback input[type=text]:focus, .feedback select:focus, .feedback textarea:focus {box-shadow: 0 0 5px rgba(239, 200, 23, 1);     border: 1px solid rgba(239, 200, 23, 1);}
.feedback input[type=submit] {border: 1px solid #3D3D3D; padding: 5px 15px; margin-top: 10px;}
.feedback input[type=submit]:hover {color: rgba(239, 200, 23, 1);}

/* ==========================================================================
   Podpiska
   ========================================================================== */
.pod form {width:200px; htext-align: left; background-color: #151515; border: solid 0px #fff;}
.pod input[type=text], .pod select, .pod textarea {border: 1px solid #000; background: #515151;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 0 1px 5px 0px;
}
.pod input[type=text]:focus, .pod select:focus, .pod textarea:focus {box-shadow: 0 0 5px rgba(239, 200, 23, 1);     border: 1px solid rgba(239, 200, 23, 1);}
.pod input[type=submit] {border: 0px solid #3D3D3D; padding: 5px 15px; margin-top: 10px;}
.pod input[type=submit]:hover {color: rgba(239, 200, 23, 1);}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

p.title {font-size: 18px;}

.content img[align=left], #slides {margin: 0 15px 15px 0; float: left;}
.content img[align=right] {margin: 0 0 15px 15px; float: right;}

#slides {position: relative; z-index: 100;}
#prev {background-position: 0 -25px; left: 5px;}
#next {background-position: 0 0; right: 5px;}
#prev, #next {background-image: url("/web/20190109084238im_/http://evrazia-engineering.ru/design/ee/res/strelki.png"); cursor: pointer; height: 25px; margin-top: -12px; position: absolute;    top: 50%; width: 10px; z-index: 2000; opacity: .6;}
#prev:hover, #next:hover {opacity: 1;}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.razdel {font-family: sans-serif,Arial,Verdana,Tahoma; font-size: 19px;font-weight: bold;color: #BA55D3;}
li.razdel:before {content: "";}

.table_clear td {width:300px; margin:0px;}
.table_clear table div {color: #b3b3b3; text-align:left; padding: 0px 5px; background-color: #2b2b2b; margin:0px;}
.table_clear table p {color: #b3b3b3; text-align:left; padding: 0px 5px; background-color: #2b2b2b; margin:0px;}
.table_clear div strong {color: #fff;font-size: 14px; width: 300px;}
/*
     FILE ARCHIVED ON 08:42:38 Jan 09, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:25:47 Aug 31, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.014
  captures_list: 102.767
  PetaboxLoader3.resolve: 74.709 (2)
  exclusion.robots.policy: 0.2
  RedisCDXSource: 0.708
  LoadShardBlock: 74.166 (3)
  PetaboxLoader3.datanode: 116.486 (5)
  load_resource: 178.064 (2)
  exclusion.robots: 0.214
  CDXLines.iter: 23.536 (3)
*/