{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center" style="height: 300px;">
    <div class="d-flex flex-column align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <span style="width: 300px;"><b>ООО "НВ ГРУПП"</b></span>
            <span style="width: 300px;">ИНН: 7722467460</span>
            <span style="width: 300px;">КПП: 772201001</span>
            <span style="width: 300px;">ОГРН: 1187746843327</span>
            <span style="width: 300px;">ОКПО: 33323592</span>
        </div>
        <div class="d-flex flex-column">
            <span style="width: 300px;"><b>Генеральный директор:</b></span>
            <span style="width: 300px;">Трофимов Алексей Николаевич</span>
            <span style="width: 300px;"><b>Главный бухгалтер:</b></span>
            <span style="width: 300px;">Трофимов Алексей Николаевич</span>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <span style="width: 300px;"><b>Юридический адрес:</b></span>
            <span style="width: 300px;">111250, г.Москва, Вн.Тер.Г. Муниципальный округ Лефортово,
    ул.Лефортовский Вал, д. 24, офис 121</span>
        </div>
        <div class="d-flex flex-column">
            <span style="width: 300px;"><b>Реквизиты рублевого счёта в АО "АЛЬФА-БАНК"</b></span>
            <span style="width: 300px;">БИК: 044525593</span>
            <span style="width: 300px;">Р/c: 40702810902610004081</span>
            <span style="width: 300px;">К/с: 30101810200000000593</span>
            <span style="width: 300px;">в ГУ БАНКА РОССИИ ПО ЦФО</span>
        </div>
    </div>
</div>

{% endblock %}