{% extends 'landing/base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <table class="table w-75 table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Категория</th>
            <th scope="col">Подкатегория</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена (руб.)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.item.category}}</td>
                    <td>{{ item.item.subcategory }}</td>
                    <td>{{ item.item.name }}</td>
                    <td>
                        <a href="{% url 'remove-single-from-cart' item.item.slug %}?redirect_to={% url 'cart' %}" style="margin-right: 5px;"><i class="fas fa-minus text-black"></i></a>
                        {{ item.quantity }}
                        <a href="{% url 'add-to-cart' item.item.slug %}?redirect_to={% url 'cart' %}" style="margin-left: 5px;"><i class="fas fa-plus text-black"></i></a>
                    </td>
                    <td colspan="2">{{ item.get_cool_price }}</td>
                </tr>

            {% endfor %}
            <tr>
                <td colspan="4"><b><h3>Сумма заказа</h3></b></td>
                <td colspan="2"><b><h3>{{ order.get_cool_price }} руб.</h3></b></td>
            </tr>
            <tr>

                <td colspan="6">
                    <div class="d-flex justify-content-around">
                        <a href="{% url 'discard' %}" class="btn btn-danger">Очистить корзину</a>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Продолжить покупки</a>
                        <a href="{% url 'checkout' %}" class="btn btn-success">Подтвердить</a>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>

{% endblock %}