{% extends 'landing/base.html' %}
{% load static %}
{% load cart_template_tags %}
{% block content %}
{% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}
    <div class="d-flex flex-column align-items-center">
        <table class="table w-75 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сумма (руб.)</th>
                </tr>
            </thead>
            <tbody id="cart_tbody">
            </tbody>
        </table>
        <form action="{% url 'cart' %}" method="POST" id="details-form">
                <div class="d-flex align-items-center justify-content-between" style="width: 900px;">
                    {% csrf_token %}
                    {{ d_form }}
                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-outline-primary" type="submit" id="save-details-button" style="visibility: hidden;">Сохранить детали</button>
                        <label for="save-details-button" class="d-none" style="color: green;" id="save-details-success">Сохранено</label>
                        <label for="save-details-button" class="d-none" style="color: darkred;" id="save-details-error">Ошибка</label>
                    </div>
                </div>
            </form>
        <form enctype="multipart/form-data" action="{% url 'upload-file-to-order' %}" method="POST">
            {% csrf_token %}
            {{ f_form }}
            <button class="btn btn-outline-primary" type="submit">Загрузить</button>
        </form>
        {% for file in order.files.all %}
            <div class="d-flex">
                <span>{{ file.name }}</span>
                <a href="{% url 'delete-file-from-order' %}?name={{ file.name|no_extension }}"><i class="fas fa-times text-danger mx-2"></i></a>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-around my-3" style="width: 600px;">
            <a href="{% url 'discard' %}" class="btn btn-danger">Очистить корзину</a>
            <a href="{% url 'checkout' %}" class="btn btn-success">Подтвердить заказ</a>
        </div>
    </div>
{% else %}
    <div class="d-flex flex-column align-items-center">
        <table class="table table-hover" style="font-size: 0.8rem;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody id="cart_tbody">
            </tbody>
        </table>
        <div class="d-flex justify-content-around my-3 w-100">
            <a href="{% url 'discard' %}" class="btn btn-danger">Очистить корзину</a>
            <a href="{% url 'checkout' %}" class="btn btn-success">Подтвердить заказ</a>
        </div>
    </div>
{% endif %}

{#<script src="{% static 'landing/js/initialize_cart.js' %}"></script>#}
{#<script>initialize_cart();</script>#}
<script src="{% static 'landing/js/cookie_side_cart.js' %}"></script>
<script src="{% static 'landing/js/cart.js' %}"></script>
<script>load_cart()</script>
<script>
    $('#details-form').on('submit', function(event) {
            event.preventDefault();
            save_details();
    });
    $("#details").on("change", function(){
        $("#save-details-button").css("visibility", "visible");
    });
    function save_details(){
        $.ajax({
            url: '/ajax-save-order-details/',
            type: 'POST',
            data: { details : $("#details").val()},

            success : function(json) {
                $("#save-details-success").removeClass("d-none");

                let timer = setTimeout(function(){
                    $("#save-details-success").addClass("d-none");
                    $("#save-details-button").css("visibility", "hidden");
                }, 700);
            },
            error : function(xhr, errmsg, err){
                $("#save-details-error").removeClass("d-none");
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    }

</script>
{% endblock %}