{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-md-5 mb-4">
            <h1 class="text-center">Подтверждение заказа</h1>
            {% comment %}{{ form|crispy }}{% endcomment %}
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <label for="name" class="form-label">Ваше имя</label>
                <input type="text" name="name" class="form-control mb-2" id="name" placeholder="Иван Иванов">
                <label for="email" class="form-label">Ваша почта</label>
                <input type="email" name="email" class="form-control mb-2" id="email" placeholder="abc@gmail.com">
                <label for="phone" class="form-label">Ваш телефон</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш телефон">
                <div class="d-flex justify-content-around mt-5">
                    <a href="{% url 'cart' %}" class="btn btn-lg btn-danger">Назад</a>
                    <button type="submit" class="btn btn-lg btn-success">Подтвердить</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}