{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-center p-3">
        <div class="col-md-5 mb-4">
            <h1 class="text-center">Подтверждение заказа</h1>
            {% comment %}{{ form|crispy }}{% endcomment %}
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <label for="name" class="form-label">Ваше имя</label>
                <input type="text" name="name" class="form-control mb-2" id="name" placeholder="Иван Иванов">
                <label for="email" class="form-label">Ваша почта</label>
                <input type="email" name="email" class="form-control mb-2" id="email" placeholder="abc@gmail.com" required>
                <label for="phone" class="form-label">Ваш телефон</label>
                <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш телефон" required>
                <p class="mt-2">При оплате счёта по безналу предоставляется персональная скидка в зависимости от суммы заказа.</p>
                <p>При оплате картой сумма заказа формируется в указанных на сайте ценах.</p>
                <p>Доставка за пределы МКАД рассчитывается индивидуально и оплачивается отдельно при приёме заказа.</p>
                <div class="d-flex justify-content-around mt-5"> {% comment %}оплатить картой, получить счет{% endcomment %}
                    <button type="submit" class="btn" style="background-color: #247abf; color: white;" name="pay_card">Оплатить картой</button>
                    <button type="submit" class="btn btn-success" name="get_check">Получить счёт</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}