{% load static %}
<div class="container">
    <div class="m-2 d-flex justify-content-end align-items-start">
        <div class="mr-auto ml-3">
            <img src="{% static 'landing/nv-eng-logo.png' %}" alt="">
        </div>

        <div class="phones mr-2 bg-dark pl-3 pr-3">
            <div><span class="text-warning">Тел:</span> +8 (499) 343-16-98</div>
            <div><span class="text-warning">Тел:</span> +8 (499) 343-16-98</div>
            <div><span class="text-warning">Тел:</span> +8 (499) 343-16-98</div>
        </div>
        <div class="emails bg-dark pl-3 pr-3">
            <div><span class="text-warning">Email:</span> info@nvsnab.com</div>
            <div><span class="text-warning">Email:</span> message@nvsnab.com</div>
            <div><span class="text-warning">Email:</span> admin@nvsnab.com</div>
        </div>
    </div>
</div>