{% extends 'landing/base.html' %}
{% load static %}
{% block home %}
    <link rel="stylesheet" href="{% static 'landing/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/home.css' %}">
<div class="home-screen">
    <div class="home-container">
        <div class="home-div" id="danfoss-div">
            <a class="home-a" href="{% url 'company' 'Danfoss' %}"><img class="home-image" src="{% static 'landing/images/mainpage/danfoss.jpg' %}" alt="" id="danfoss"></a>
            <span><b>Danfoss</b></span>
        </div>
        <div class="home-div" id="uponor-div">
            <a class="home-a" href="{% url 'company' 'Uponor' %}"><img class="home-image" src="{% static 'landing/images/mainpage/uponor.jpg' %}" alt="" id="uponor"></a>
            <span><b>Uponor</b></span>
        </div>
        <div class="home-div" id="tecofi-div">
            <a class="home-a" href="{% url 'company' 'Tecofi' %}"><img class="home-image" src="{% static 'landing/images/mainpage/tecofi.jpg' %}" alt="" id="tecofi"></a>
            <span><b>Tecofi</b></span>
        </div>
        <div class="home-div" id="rehau-div">
            <a class="home-a" href="{% url 'company' 'Rehau' %}"><img class="home-image" src="{% static 'landing/images/mainpage/rehau.jpg' %}" alt="" id="rehau"></a>
            <span><b>Rehau</b></span>
        </div>
        <div class="home-div" id="belimo-div">
            <a class="home-a" href="{% url 'company' 'Belimo' %}"><img class="home-image" src="{% static 'landing/images/mainpage/belimo.jpg' %}" alt="" id="belimo"></a>
            <span><b>Belimo</b></span>
        </div>
        <div class="home-div" id="sml-div">
            <a class="home-a" href="{% url 'company' 'SML' %}"><img class="home-image" src="{% static 'landing/images/mainpage/sml.jpg' %}" alt="" id="sml"></a>
            <span><b>SML</b></span>
        </div>
        <div class="home-div" id="metizy-div">
            <a class="home-a" href="{% url 'company' 'Metizy' %}"><img class="home-image" src="{% static 'landing/images/mainpage/metizy.jpg' %}" alt="" id="metizy"></a>
            <span><b>Крепёжная техника</b></span>
        </div>
        <div class="home-div" id="detali-div">
            <a class="home-a" href="{% url 'company' 'Detali_truboprovodov' %}"><img class="home-image" src="{% static 'landing/images/mainpage/detali_truboprovodov.jpg' %}" alt="" id="detali"></a>
            <span><b>Детали трубопроводов ВГП</b></span>
        </div>
        <div class="home-div" id="teplo-div">
            <a class="home-a" href="{% url 'company' 'Teploizoljatsija_i_zvukoizoljatsija' %}"><img class="home-image" src="{% static 'landing/images/mainpage/teploiz.jpg' %}" alt="" id="teplo"></a>
            <span><b>Изоляция</b></span>
        </div>
    </div>
</div>
<script>
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $(".home-screen").addClass("mobile");
        $("html").addClass("mobile");
    }
</script>
{% endblock %}


