{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h1>Партнеры</h1>
    </div>
    <hr>
    <div class="d-flex justify-content-center mt-4">
        <div class="d-flex flex-column align-items-center">
            <a id="danfoss" href="{% url 'company' 'Danfoss' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/danfoss.png' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="danfoss" style="font-size: 20px;"><b>Danfoss</b></label>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a id="uponor" href="{% url 'company' 'Uponor' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/uponor.png' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="uponor" style="font-size: 20px;"><b>Uponor</b></label>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a id="tecofi" href="{% url 'company' 'Tecofi' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/tecofi.png' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="tecofi" style="font-size: 20px;"><b>Tecofi</b></label>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <h1>Другие товары</h1>
    </div>
    <hr>
    <div class="d-flex justify-content-center mt-4" style="height: 400px;">
        <div class="d-flex flex-column align-items-center">
            <a id="metizy" href="{% url 'company' 'Metizy' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/Metizy.jpg' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="metizy" style="font-size: 20px;"><b>Метизы</b></label>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a id="detali" href="{% url 'company' 'Detali truboprovodov' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/Detali_truboprovodov.jpg' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="detali" style="font-size: 20px;"><b>Детали трубопроводов</b></label>
        </div>
        <div class="d-flex flex-column align-items-center">
            <a id="teplo" href="{% url 'company' 'Teploizoljatsija i zvukoizoljatsija' %}" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/Teploiz.jpg' %}); background-repeat: no-repeat; height: 200px; width: 300px;">
            </a>
            <label for="teplo" style="font-size: 20px;"><b>Теплоизоляция и звукоизоляция</b></label>
        </div>
    </div>
{% endblock %}