{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-center mt-4" style="height: 400px;">
        <a href="/items/blue-things/" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg1.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Синие штуки</div>
        </a>
        <a href="#" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg2.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Болты</div>
        </a>
        <a href="#" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg3.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Шнуры</div>
        </a>
        <a href="#" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg4.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Трубы</div>
        </a>
        <a href="#" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg5.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Заклепки</div>
        </a>
        <a href="#" class="m-1 border-3 border border-dark text-decoration-none" style="background-image: url({% static 'landing/images/mainpage/bg6.jpg' %}); background-repeat: no-repeat; height: 100%; width: 170px;">
            <div class="m-2 bg-dark p-2 text-white text-center">Котлы</div>
        </a>
    </div>
{% endblock %}