{% load static %}
{% load cart_template_tags %}
<link rel="stylesheet" href="{% static 'landing/css/main.css' %}">
<button class="sticky-top" id="side-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="fas fa-bars fa-2x border-3 border border-secondary" style="color: black; background-color: white; padding: 10px;"></span>
</button>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top position-relative" style="height: 60px;">
  <!-- Container wrapper -->
  <div class="container d-flex justify-content-center">

      <a class="navbar-brand mt-lg-0" href="/">
        <i class="fas fa-home {% if title == 'home' %}fa-lg active{% endif %} nav-icon"></i>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% comment %}<li class="nav-item">
          <a class="nav-link {% if title == 'pricelist' %}active{% endif %}" href="{% url 'prices' %}">Прайс-листы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'trademarks' %}active{% endif %}" href="{% url 'trademarks' %}">Торговые марки</a>
        </li>{% endcomment %}
        {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link {% if title == 'upload' %}active{% endif %}" href="{% url 'upload' %}">Загрузить</a>
            </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if title == 'about' %}active{% endif %}" href="{% url 'about' %}">О компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'contacts' %}active{% endif %}" href="{% url 'contacts' %}">Контакты</a>
        </li>

      {% comment %}<span class="fas fa-shopping-cart fa-lg nav-icon"></span>{% endcomment %}
      </ul>
      <a class="mt-lg-0 text-decoration-none text-white" href="{% url 'cart' %}" style="padding-left: 10px;">
        <span class="fas fa-shopping-cart {% if title == 'cart' %}fa-lg active{% endif %} nav-icon"></span>
        <span class="badge rounded-pill {% if request|cart_item_count > 0 %}bg-danger{% else %}bg-dark{% endif %}"> {{ request|cart_item_count }} </span>
      </a>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <span class="d-inline text-white position-absolute" style="right: 35px; top:3px;">Тел: +7-499-550-8858</span>
    <span class="d-inline text-white position-absolute" style="right: 35px; top:25px;">E-mail: office@nvsnab.com</span>
{#  </div>#}
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- SideNav -->

<div class="offcanvas offcanvas-start navbar-dark bg-dark w-auto" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Меню</h5>
    <button type="button" class="btn-close text-reset bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/"><span class="fas fa-home fa-lg nav-icon"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Прайс-листы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Торговые марки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">О компании</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Контакты</a>
      </li>

      {% comment %}<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>{% endcomment %}
    </ul>
  </div>
</div>

</div>
