{% load cart_template_tags %}
{% load static %}
<div class="position-fixed d-flex align-items-start border-box-sizing" style="top: 64px; right:0; z-index:10;">
        <div id="buttons">
            <a id="side-cart" class="text-decoration-none text-white bg-dark" style="display: block; padding: 20px;">
                <div class="d-flex align-items-center">
                    <i class="fas fa-2x fa-shopping-cart nav-icon"></i>
                    <span class="badge rounded-pill {% if request|cart_item_count > 0 %}bg-danger{% else %}bg-dark{% endif %}" id="side-cart-count"> {{ request|cart_item_count }} </span>
                </div>
            </a>
        </div>
        <div class="inactive bg-white" id="cart-content">


                <div style="height: 300px; overflow-y: scroll;">
                {% comment %}{% if request|cart_items != 0 %}{% endcomment %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Наименование</th>
                                <th scope="col">Цена</th>
                                <th style="width: 120px;" scope="col">Количество </th>
                                <th scope="col">Сумма</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                        {% if request|cart_items != 0 %}
                            {% for order_item in request|cart_items %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{{ order_item.item.get_absolute_url }}">{{ order_item.item.name }}</a></td>
                                    <td>{{ order_item.item.get_cool_price }}</td>
                                    <td>
                                        <div>
                                            <a style="margin-right: 5px;" id="side_decrement_{{ order_item.item.article }}"><i class="fas fa-minus text-black"></i></a>
                                            {% comment %}{{ h_form }}{% endcomment %}
                                            <input value="{{ order_item.quantity }}" id="side_counter_{{ order_item.item.article }}" name="side-cart-counter" class="text-center side" style="width: 40px;">
                                            <a style="margin-left: 5px; margin-right: 10px;" id="side_increment_{{ order_item.item.article }}"><i class="fas fa-plus text-black"></i></a>
                                            <div id="slug_{{ order_item.item.article }}" style="display: none;">{{ order_item.item.slug }}</div>
                                        </div>

                                    </td>
                                    <td><span id="order_item_sum_{{ order_item.item.article }}">{{ order_item.get_cool_price }}</span></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                {% comment %}{% endif %}{% endcomment %}
                </div>
            <hr>
                <div class="d-flex align-items-center mt-2">
                    <a id="side-cart-save" class="btn btn-sm text-white" style="background-color: #c44620; margin-left: 10px; visibility: hidden;">Сохранить</a>
                    <a class="btn btn-sm btn-success mx-3" href="/cart/">Оформить</a>
                    <h2 id="order-price">Итого: {{ request|cart_sum }} руб.</h2>
                </div>
        </div>
</div>
<style>
    #buttons {
        box-shadow: 0 -2px 10px;
    }
    #cart-content {
        width: 600px;
        overflow-x: hidden;
        padding: 10px;
        box-shadow: 0 -2px 10px;
        transition: width 300ms;
    }
    #cart-content.inactive {
        width: 0;
        padding: 0;
        overflow-y: hidden;
    }
</style>
<script>
    $("#side-cart").on('click', function() {
        var cart_content = $("#cart-content");
        console.log("Working!!!");
        cart_content.toggleClass("inactive");
    });
</script>
<script src="{% static 'landing/js/script.js' %}"></script>
<script src="{% static 'landing/js/initialize_side_cart.js' %}"></script>
<script>initialize();</script>
