<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body style="width: 400px; height: 400px;">
<a id="btn" style="width: 400px; height: 400px; background-color: red;">Hold me</a>
<script>
    console.log(parseInt("10"));
    console.log(parseInt("-10"));
    console.log(parseInt("asdf"));
    if (parseInt("asdf")) {
        console.log("true");
    }
    else {
        console.log("False");
    }
</script>
</body>
</html>